.width-50 { width: 50%; }

.ml-auto { margin-left: auto; }

.mr-auto { margin-right: auto; }

.mt-0 { margin-top: 0; }

.mt-1 { margin-top: 4px; }

.mt-2 { margin-top: 8px; }

.mt-3 { margin-top: 12px; }

.mt-4 { margin-top: 16px; }

.mt-5 { margin-top: 20px; }

.display-block { display: block; }

.display-flex { display: flex; }

.justify-content-center { justify-content: center; }

.align-items-center { align-items: center; }

.cursor-pointer { cursor: pointer; }

.flex-column { flex-direction: column; }

.align-items-center { align-items: center; }